*{color: aliceblue;
    margin: 1em;
}
body{
    background-color: rgba(5, 1, 10, 0.692);

}
ul{
    list-style: none;
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   align-items: flex-end;
   border:2px solid;
  
}


a:hover{
    background-color: rgb(204, 108, 108);

}
a{
    text-decoration: none;
    font-size: 1.5em;
  text-align: center;
 justify-items: center;
    background-color: rgba(204, 108, 108, 0.6);

    height:30vh;
    display: block;
   padding-top: 70px;
  
 
    
   

}
h1{
    text-align: center;
}